@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
  font-family: 'PT Sans', sans-serif;

}


.navbar li{
  display:inline-block;
}
.navbar{
  background-color: #F5E5D7 !important;
}
.nav-link{
  font-size: large;
  font-weight: bold;
}
.navbar a {
  color: black;
}
/**/

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  left: 60%;
  color: black;
  font-size: large;
  font-weight: bolder;
}
.carouselslide{
  background-color: #F5E5D7;
}

.imagecarousel{
  margin: 5%;
  height: fit-content;
  width: 50%;
}
.About{
  margin-top: 5%;
}
.image-About-1{
  height: fit-content;
  width: 90%;
}
.About-text{
  padding-bottom: 2%;
}
.product{
  margin-top: 5%;
  margin-bottom: 10%;
}

.text-product{
  padding-bottom: 2%;
}
.text-product h1{
  padding: 1%;
}

.productImage{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    background-color: white;
    border-color: #F5E5D7;

}

.imageproducts{
  margin-bottom: 1%;
}

.whyus{
  margin-top: 5%;
  
}
.fa-thumbs-up{
  font-size: 30px;

}
.fas{
  font-size: 30px;
  margin: 5px
}
.whyus h1{
  padding-bottom: 2%;
}

/*new arrival*/

.newarrival{
  background-color: #FCF6F2;
  margin-top: 5%;
}
.imageNewArrivals{
  height: auto;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.imageNewArrivals:hover{
  filter: blur(5px);
}

.newArrivalButton{
  background-color: transparent;
    color: var(--accent);
    border: 2px solid var(--accent);
    text-decoration: inherit;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
    display: inline-block;
    align-items: center;
}
.newarrival{
  margin: 5%;
  
}
.newarrival-text{
  padding: 5%;line-height: 1;

}
.newarrival-text-h2{
  font-size: 55px;
  font-weight: 600;
  line-height: 1.16em;
}
.newarrival-text-h6{
  font-size: 30px;

  font-weight: 400;
  line-height: 1.16em;
}
newarrival-text-h5 {
  font-size: 40px;

  font-weight: 600;
    line-height: 1.3636363636;
    margin: 0px 0px 30px 0px
}
/*info*/
.info{
  margin-top: 5%;
}
.elementor-icon{fill: var( --e-global-color-accent );
  color: var( --e-global-color-accent );
  font-size: 40px;
  border-color: var( --e-global-color-accent );
  
}
.info-para{
  color: gray;
}

/*imagegallery*/

.imagegallery{
  margin-top: 5%;
}
.imagegallerys{
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-gap: 10px;
    
}
.imagegallerys::before{content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transform: translate(-50%,-50%);
  transition: all .2s ease;}
.imagegallerys::after{content: "";
  width: 2px;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  transition: all .2s ease;
  transition-delay: .2s;
}
figcaption{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}



/*footer*/
.footer-website{
  margin-top: 5%;
}
.footer-website li {
  font-weight: bold;
}


.product-image{
  margin-bottom: 10px;
  filter: drop-shadow(5px 5px 5px rgb(218, 189, 189));
}
.new{
  display:grid;
 grid-column-gap:5% ;
  grid-row-gap: 5%;

}

/*contact*/
.contact{
  margin-top: 5%;

}
.form{
  margin-top: 5%;


}

/**/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  right: 30px;
  bottom: 100px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
