@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  font-family: "kosi-heading","helveticaneue-light",helvetica neue light,helvetica neue,Helvetica,Arial,lucida grande,sans-serif;
}

text-heading{
  margin-bottom: 3%;
}
h1 h2 h3 h4 h5 h6 {
  font-weight: bold;
}
/*
section{
	margin-left: 2%;
	margin-right: 2%;
}
*/
.contacticon{
  margin-right: 1.5%;
}

.heading{
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 40px;
    line-height: 1.2;
    font-family: "kosi-heading","helveticaneue-light",helvetica neue light,helvetica neue,Helvetica,Arial,lucida grande,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
  line-height: 1.2;
  font-family: "kosi-heading","helveticaneue-light",helvetica neue light,helvetica neue,Helvetica,Arial,lucida grande,sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 16px;
}
.marginheading{
  margin-top: 5%;
}
.contact-us-paragraph{
  margin-top: 15px;
  color: gray;
}