.footer-website{
  margin-top: 5%;
}

.footerlogo{
  height:75px ;
  width: 250px;
}
footer li{
  display:inline-block; 
}
.footer-website{
  font-size: 13px !important;
}
@media screen and (max-device-width: 987px){
.footerLink {
    float: left !important;
}
}